/*Menu The Full Palette Styles*/

html{
    font-family: "Roboto";
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    padding: 30px 0 15px 30px;
}

.arrow{
    width: 25%;
    font-size: x-large;
}

.logo{
    width: 45%;
}

.image-wrapper{
    width: 100%;
}

.dishes{
    border-radius: 50px 50px 0 0;
    position: relative;
    background-color: #F0F0F0;
    margin-top: -75px;
    padding: 15px 15px 15px 15px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 30px 20px 0 5px;
    margin-bottom: 15px;
}

.heart{
    font-size: x-large;
}

.food{
    display: block;
    padding: 20px 0 0 8px;
}

.food::after{
    content: "";
    display: flex;
    margin: none;
    padding-bottom: 5px;
    width: 10%;
    border-bottom: 3px solid #99e2d0;
}

.card-container{
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 15px 0 15px 0;
    width: 100%;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    overflow: hidden;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 10px 20px 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-text p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price{
    display: flex;
    padding-left: 10px;
}

.card-container h4{
    margin-bottom: 5px;
}

.tick-container{
    transition: 1s ease-out;
    max-width: 0;
}

.tick{
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99e2d0;
    color: white;
    padding: 0 20px 0 20px;
    height: 100%;
    font-size: x-large;
    transition-delay: 0s;
}

.tick i{
    transform: rotate(0deg);
    transition-delay: 0s;
}

.card-container:hover .tick-container{
    cursor: pointer;
    max-width: 100%;
    transition: 2s ease-in;
}

.card-container:hover .tick i{
    transform: rotate(360deg);
    transition: .6s ease-in;
}

.order{
    display: block;
    margin: 50px auto 50px auto;
    border: solid 0px;
    padding: 15px 70px 15px 70px;
    border-radius: 35px;
    background-image: linear-gradient(#FF79DA,#9356DC);
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    color: white;
}

.order:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.footer-container{
    background-color: grey;
    padding: 25px 0 50px 20px;
}

.footer-container h3{
    color: white;
}

.footer-container a, .icon, .icon2{
    color: white;
}

.icon{
    padding-right: 15px;
}

.icon2{
    padding-right: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foot-title{
    padding-bottom: 10px;
}