/*HomePage Styles*/

html{
    font-family: "Roboto";
}

.header{
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
    font-size-adjust: 50%;
}

.location{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.location i{
    margin-right: 20px;
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper{
    width: 100%;
    height: auto;
}