/*HomePage Styles*/

html{
    font-family: "Roboto";
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: center;
    margin: 20px 0 5px 0;
    box-shadow: 0px 3px 5px -2px grey;
    padding: 15px;
    position: relative;
}

.header img{
    width: 45%;
}

.location{
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color:#F0F0F0;
    margin-top: -3px;
}

.location i{
    margin-right: 20px;
    padding: 15px 0 15px 0;
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F8F8F8;
    padding: 40px 40px 50px 40px;
}

.top-section h2{
    margin-bottom: 50px;
    font-weight: 700;
}

.top-section p{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    color: 	#808080;
    font-size: large;
}

.explore{
    border: solid 0px;
    padding: 15px 25px 15px 25px;
    border-radius: 35px;
    background-image: linear-gradient(#FF79DA,#9356DC);
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    color: white;
}

.explore:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.explore a{
    color: white;
}

.steps{
    padding: 15px 0 35px 0;
}

.steps h2{
    margin: 10px 0 5px 0;
    padding: 20px 0 10px 20px;
}

.steps-card{
    position: relative;
    border: solid 0px;
    border-radius: 20px;
    padding: 25px 0 25px 35px;
    margin: 20px 20px 20px 30px;
    background-color:#F8F8F8;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    display: flex;
    align-items: center;
}

.steps-card span i{
    padding-right: 20px;
}

.numbers{
    position: absolute;
    left: -10px;
    border: solid 0;
    border-radius: 50%;
    padding: 4px 7px 4px 7px;
    background-color: #9356DC;
    color: white;
    font-size: small;
}

.card-container{
    background-color: #F8F8F8;
    padding: 15px 15px 50px 15px;
}

.card-container h1{
    margin: 10px 0 5px 0;
    padding: 20px 0 10px 20px;
    font-size: x-large;
}

.card-section{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.card{
    border: solid 0;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    position: relative;
}


.image-wrapper{
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.card-bottom{
    display: flex;
    position: relative;
}

.card-bottom--link{
    width: 100%;
}

.card-bottom h3{
    padding-bottom: 5px;
}

.card-text{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: fit-content;
}

.heart{
    background-color: #F8F8F8;
    border: none;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: xx-large;
    width: fit-content;
}

.heart .solid{
    display: none;
    background: radial-gradient(#FF79DA,#9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heart:hover .solid{
    display: flex;
    cursor: pointer;
}

.heart:focus .solid{
    display: flex;
}

.heart:hover .empty{
    display: none;
}

.heart:focus .empty{
    display: none;
}

.footer-container{
    background-color: #343434;
    padding: 25px 0 50px 20px;
}

.footer-container h3{
    color: white;
}

.footer-container a, .icon, .icon2{
    color: white;
}

.icon{
    padding-right: 15px;
}

.icon2{
    padding-right: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
}