/*HomePage Styles*/

html{
    font-family: "Roboto";
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
    animation: hide 0.2s 3s forwards;
  }

@keyframes hide {
    0% { opacity: 100%;}
    100% { opacity: 0; visibility: hidden;}
}
  
  .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9356dc;
    animation: bounce 0.6s infinite alternate;
    margin: 0 5px;
  }
  
  .dot-1 {
    animation-delay: 0.1s;
  }
  
  .dot-2 {
    animation-delay: 0.2s;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50px);
    }
  }

.header{
    display: flex;
    justify-content: center;
    margin: 20px 0 5px 0;
    box-shadow: 0px 3px 5px -2px grey;
    padding: 15px;
    position: relative;
}

.logo{
    width: 45%;
    display: block;
    margin: auto;
}

.location{
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color:#F0F0F0;
    margin-top: -3px;
}

.location i{
    margin-right: 20px;
    padding: 15px 0 15px 0;
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F8F8F8;
    padding: 40px 40px 50px 40px;
}

.top-section h2{
    margin-bottom: 50px;
    font-weight: 700;
}

.top-section p{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    color: 	#808080;
    font-size: large;
}

.explore{
    border: solid 0px;
    padding: 15px 25px 15px 25px;
    border-radius: 35px;
    background-image: linear-gradient(#FF79DA,#9356DC);
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    color: white;
}

.explore:hover{
    transform: scale(1.03);
    cursor: pointer;
    filter: brightness(1.1);
    box-shadow: 2px 2px 2px 2px rgb(166, 164, 164);
}

.explore a{
    color: white;
}

.steps{
    padding: 15px 0 35px 0;
}

.steps h2{
    margin: 10px 0 5px 0;
    padding: 20px 0 10px 20px;
}

.steps-card{
    position: relative;
    border: solid 0px;
    border-radius: 20px;
    padding: 25px 0 25px 35px;
    margin: 20px 20px 20px 30px;
    background-color:#F8F8F8;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    display: flex;
    align-items: center;
}

.steps-card:hover {
    background-color: #f5edff;
}

.steps-card span i{
    padding-right: 20px;
}

.numbers{
    position: absolute;
    left: -10px;
    border: solid 0;
    border-radius: 50%;
    padding: 4px 7px 4px 7px;
    background-color: #9356DC;
    color: white;
    font-size: small;
}

.card-container{
    background-color: #F8F8F8;
    padding: 15px 15px 50px 15px;
}

.card-container h1{
    margin: 10px 0 5px 0;
    padding: 20px 0 10px 20px;
    font-size: x-large;
}

.card-section{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.card{
    border: solid 0;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    position: relative;
    transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-filter {
    filter: brightness(100%);
}

.card:hover{
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card-filter:hover {
    filter: brightness(1.1);
}

.card-bottom:hover .card-filter {
    filter: brightness(150%);
}

.new{
    position: absolute;
    border: solid 0;
    border-radius: 2px;
    background-color: #99e2d0;
    color: #3b8468;
    padding: 5px 25px 5px 25px;
    top: 15px;
    right: 15px;
}


.image-wrapper{
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.card-bottom{
    display: grid;
    grid-template-columns: 88%;
    align-items: center;
}

.card-bottom--link{
    display: flex;
    width: 113%;
}

.card-bottom h3{
    padding-bottom: 5px;
}

.card-text{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: fit-content;
}

.icon-heart {
    font-family: 'Material Icons';
    font-size: 35px !important;
}

.favouriteIcon {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    opacity: 0%;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-area: 1/2;
    transition: opacity .5s ease-in-out;
    position: relative;
}

.favouriteIcon:hover {
    opacity: 100%;
}

.favouriteIcon:hover .addFavouriteIcon {
    color: #9356DC;
}

.addFavouriteIcon {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    grid-area: 1/2;
    transition: color .5s ease-in-out;
}

.footer-container{
    background-color: #343434;
    padding: 25px 0 50px 20px;
}

.footer-container h3{
    color: white;
    font-family: "Shrikhand";
}

.footer-container a, .icon, .icon2{
    color: white;
}

.footer-container a:hover {
    text-decoration: underline;
}

.icon{
    padding-right: 15px;
}

.icon2{
    padding-right: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foot-title{
    padding-bottom: 10px;
}

@media (min-width: 780px) {
    .location, .top-section, .top-section p{
        font-size: x-large;
    }
    .steps {
        text-align: center;
    }
    .steps-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .steps-card {
        padding: 25px 35px 25px 35px;
        min-width: 25%;
        
    }

    .card-section {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card {
        min-width: 45%;
    }

    .card-bottom {
        grid-template-columns: 85%;
    }

    .card-bottom--link {
        width: 117%;
    }
}

@media (min-width: 1050px) {

    .card-section {
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }

    .card {
        min-width: 30%;
    }

    .card-bottom {
        padding-right: 15px;
    }

    .card-bottom--link {
        width: 123%;
    }

    .heart {
        font-size: xx-large;
    }
}

@media (min-width: 1200px) {
    .card-section {
        display: grid;
        grid-template-columns: 280px 280px 280px 280px;
    }
    .card img {
        max-height: 150px;
    }
}

@media (min-width: 1450px) {

    .top-media {
        display: grid;
        grid-template-columns: 600px 400px;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
    }

    .steps-wrap {
        display: flex;
        flex-direction: column;
    }

    .card-section {
        display: grid;
        grid-template-columns: 350px 350px 350px 350px;
    }
}